body {
    color: honeydew;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #00523C;
}
.stap1 {font-weight: bold;} 
.stap1 {font-size: 25px;}
.h3 {font-size: 15px;}

.stap2 {font-weight: bold;} 
.stap2 {font-size: 25px;}
.h4 {font-size: 15px;}

.stap3 {font-weight: bold;}
.stap3 {font-size: 25px;}
.h5 {font-size: 15px;}

.stap4 {font-weight: bold;}
.stap4 {font-size: 25px;}
.h6 {font-size: 15px;}

.stap5 {font-weight: bold;}
.stap5 {font-size: 25px;}
.h7 {font-size: 15px;}