body {
    color: honeydew;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #00523C;
}
.stap1 {font-weight: bold;} 
.stap1 {font-size: 25px;}

.stap2 {font-weight: bold;} 
.stap2 {font-size: 25px;}

.stap3 {font-weight: bold;}
.stap3 {font-size: 25px;}